absl-py==1.4.0
aiohttp==3.8.3
aiohttp-cors==0.7.0
aiosignal==1.3.1
alembic==1.9.2
amqp==5.1.1
ansicon==1.89.0
anyio==3.6.2
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
autobahn==23.1.2
Automat==22.10.0
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
black==23.1.0
bleach==5.0.1
blessed==1.20.0
blis==0.7.9
boto3==1.26.69
botocore==1.29.69
cached-property==1.5.2
cachetools==5.2.1
Candlestick==0.0.8
catalogue==2.0.8
catboost==1.1.1
celery==5.1.2
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi==1.15.1
cfgv==3.3.1
channels==4.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.1
cmaes==0.9.1
colorama==0.4.6
colorful==0.5.5
colorlog==6.7.0
confection==0.0.4
constantly==15.1.0
croniter==1.3.5
cryptography==39.0.0
cycler==0.11.0
cymem==2.0.7
daphne==4.0.0
dask==2022.2.0
debugpy==1.6.5
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distributed==2022.2.0
Django==3.2.5
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.13.2
djangorestframework==3.12.4
docopt==0.6.2
entrypoints==0.4
execnb==0.1.4
fastai==2.7.10
fastcore==1.5.28
fastdownload==0.0.7
fastjsonschema==2.16.2
fastprogress==1.0.3
filelock==3.9.0
flatbuffers==23.1.21
fonttools==4.38.0
frozendict==2.3.4
frozenlist==1.3.3
fsspec==2023.1.0
gast==0.4.0
gevent==21.12.0
google-api-core==2.11.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.58.0
gpustat==1.0.0
graphviz==0.20.1
greenlet==1.1.3.post0
grpcio==1.51.1
h5py==3.7.0
HeapDict==1.0.1
html5lib==1.1
hyperlink==21.0.0
identify==2.5.23
idna==3.4
importlib-metadata==4.13.0
importlib-resources==5.10.2
incremental==22.10.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==8.0.3
isort==5.11.5
jedi==0.18.2
Jinja2==3.1.2
jinxed==1.2.0
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-black==0.3.3
jupyter-console==6.4.4
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.1
jupyter-server==1.23.5
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.11.0
kiwisolver==1.4.4
kombu==5.2.4
langcodes==3.3.0
libclang==15.0.6.1
lightgbm==3.3.5
llvmlite==0.39.1
locket==1.0.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.3.6
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mercury==1.99.8
mistune==2.0.4
mljar-mercury==1.1.6
modin==0.12.1
modin-spreadsheet==0.1.2
msgpack==1.0.4
multidict==6.0.4
multitasking==0.0.11
murmurhash==1.0.9
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.8
nbformat==5.7.3
nbqa==1.5.3
nest-asyncio==1.5.6
nodeenv==1.7.0
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.21.6
nvidia-ml-py==11.495.46
oauthlib==3.2.2
opencensus==0.11.1
opencensus-context==0.1.3
opt-einsum==3.3.0
optuna==3.1.0
p2j==1.3.2
packaging==23.0
pandas==1.3.5
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pathspec==0.11.0
pathy==0.10.1
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.4.11
pkgutil_resolve_name==1.3.10
platformdirs==2.6.2
plotly==5.13.0
plumbum==1.8.1
pre-commit==2.21.0
preshed==3.0.8
progressbar2==4.2.0
prometheus-client==0.13.1
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.8.0
py-spy==0.3.14
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.4
pyee==8.2.2
pyflakes==2.5.0
Pygments==2.14.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==0.19.2
python-utils==3.5.2
pytz==2022.7.1
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
QuantStats==0.0.59
ray==2.2.0
requests==2.28.2
requests-oauthlib==1.3.1
rpyc==4.1.5
rsa==4.9
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
Send2Trash==1.8.0
service-identity==21.1.0
shortuuid==1.0.11
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sourcery-cli==1.0.3
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.27
sqlparse==0.4.3
srsly==2.4.5
ta==0.10.2
tabulate==0.9.0
tblib==1.7.0
tenacity==8.2.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado==0.17.1
thinc==8.1.7
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenize-rt==5.0.0
tomli==2.0.1
toolz==0.12.0
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.1
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==23.1.1
typed-ast==1.5.4
typeguard==2.13.3
typer==0.7.0
typing_extensions==4.4.0
urllib3==1.26.14
vine==5.0.0
virtualenv==20.19.0
wasabi==1.1.1
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.2
whitenoise==5.3.0
widgetsnbextension==4.0.5
wincertstore==0.2
wrapt==1.14.1
xgboost==1.6.2
yarg==0.1.9
yarl==1.8.2
yfinance==0.2.4
zict==2.2.0
zipp==3.11.0
zope.event==4.6
zope.interface==5.5.2
